@page
@model BeaverLeague.Web.Pages.Admin.Golfers.ManageModel
@{
    ViewBag.Title = "Manage Golfers";
}

<div class="row pt-4">
    <div class="col-12">
        <h1>Manage Golfers</h1>
    </div>
</div>

<div class="row pt-4">
    <div class="col-2">
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-dark text-primary"
               asp-page="./Edit"><i class="fas fa-plus-circle pr-1"></i>Create Golfer</a>
        </div>
    </div>
    <div class="col-10">

        <table class="table table-striped table-hover" id="golfers">

            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Tee</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var golfer in Model.Golfers)
                {
                    <tr>
                        <td>@golfer.LastName, @golfer.FirstName</td>
                        <td>@golfer.EmailAddress</td>
                        <td>@golfer.PhoneNumber</td>
                        <td>@golfer.Tee</td>
                        <td>
                            @if (golfer.IsActive)
                            {
                                <i class="fas fa-check"></i>
                            }
                        </td>
                        <td>
                            <a asp-page="/Admin/Golfers/Edit" asp-route-id="@golfer.Id">
                                <span class="fa fa-edit"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>