@page "{id}"
@model BeaverLeague.Web.Pages.Admin.Seasons.DetailModel
@{
    ViewData["Title"] = "Detail";
}


<div class="row pt-4">
    <div class="col-12">
        <h2>Season: @Model.Season.Name</h2>
    </div>
</div>
<div class="row pt-4">
    <div class="col-2">
        <div class="list-group">
            <a asp-page="/Admin/Seasons/Weeks/Create" asp-route-seasonId="@Model.Season.Id" title="Create a new week"
               class="list-group-item list-group-item-action list-group-item-dark text-primary">
                <i class="fas fa-plus-circle pr-1"></i><span>New Week</span>
            </a>
        </div>
    </div>
    <div class="col-10">
        <h4>Weeks in this season:</h4>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.Season.Weeks.OrderBy(w => w.Date).Select((week, index) => new { week, index }))
                {
                    <tr>
                        <td>@(entry.index + 1)</td>
                        <td>@entry.week.Date.ToString("MM/dd/yyyy")</td>
                        <td>
                            <a asp-page="/Admin/Seasons/Weeks/Schedule"
                               asp-route-weekid="@entry.week.Id"
                               asp-route-seasonid="@Model.Season.Id"
                               class="btn btn btn-secondary">
                                <span class="fa fa-clipboard-list pr-2" title="Edit"></span>Schedule
                            </a>
                            <a asp-page="/Admin/Seasons/Weeks/Scores"
                               asp-route-weekid="@entry.week.Id"
                               asp-route-seasonid="@Model.Season.Id"
                               class="btn btn btn-secondary">
                                <span class="fa fa-poll pr-2" title="Details"></span>Scores
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



