@using BeaverLeague.Core.Models;
@*@inherits WeeklyScoresBase*@

<EditForm Model="EditContext">
    <DataAnnotationsValidator ></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    
    <Combobox T="Golfer" 
              Items="Items"
              @bind-Value="golfer" 
              Placeholder="Golfer" > 
        <ItemTemplate Context="golfer">
            <span>@golfer.FirstName @golfer.LastName</span>
        </ItemTemplate>
    </Combobox>

    <button type="submit">Save</button>

</EditForm>

<div>Selected: @golfer.LastName, @golfer.FirstName</div>

@code {

    Golfer golfer = new Golfer();
    List<Golfer> golfers = new List<Golfer>
    {
        new Golfer { Id = 1, FirstName = "Scott", LastName = "Allen" },
        new Golfer { Id = 2, FirstName = "Alex", LastName = "Allen" },
        new Golfer { Id = 3, FirstName = "Alex", LastName = "Lifeson" },
        new Golfer { Id = 4, FirstName = "Neil", LastName = "Peart" },
        new Golfer { Id = 5, FirstName = "Geddy", LastName = "Lee" },
    };
    Dictionary<string, Golfer> Items;
    EditContext EditContext; 

    public WeeklyScores()
    {
        EditContext = new EditContext(golfer);
    }

    protected override void OnInitialized()
    {
        Items = golfers.ToDictionary(g => $"{g.FirstName} {g.LastName}");
    }

}

@*@if (Initialized)
{
    <h1>Scores: @(MatchSet?.Date.ToLongDateString()) </h1>

    @if (AddMatch == null)
    {
        <button class="btn btn-primary" @onclick="NewMatch">Add Match</button>
    }

    @if (AddMatch != null)
    {
        <EditForm Model="@AddMatch">
            
            <h3>Add a match</h3>
            
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="card">
                <div class="card-header">
                    Golfer 1
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <Combobox T="Golfer"
                                      Placeholder="Name"
                                      @bind-Value="@SelectedGolfer"
                                      Items="@Golfers"
                                      ItemFilter="@GolferFilter"
                                      MaxSuggestions="5"
                                      SelectedItemFormat="FormatGolfer">
                                <ItemTemplate Context="golfer">
                                    <span>@golfer.FirstName @golfer.LastName</span>
                                </ItemTemplate>
                            </Combobox>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Points</label>
                            <input type="number" step="0.5" min="0" max="11" class="form-control"
                                   @bind="@AddMatch.GolferOnePoints" @onfocusout="UpdateGolferTwoPoints" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Score</label>
                            <input type="number" class="form-control" @bind="@AddMatch.GolferOneScore" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Play Next Week?</label>
                            <div><input type="checkbox" @bind="@AddMatch.GolferOnePlayNextWeek" /></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card pt-2">
                <div class="card-header">
                    Golfer 2
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <Combobox T="Golfer"
                                      Placeholder="Name"
                                      Items="@Golfers"
                                      ItemFilter="@GolferFilter"
                                      MaxSuggestions="5"
                                      SelectedItemFormat="FormatGolfer">
                                <ItemTemplate Context="golfer">
                                    <span>@golfer.FirstName @golfer.LastName</span>
                                </ItemTemplate>
                            </Combobox>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Points</label>
                            <input type="number" step="0.5" min="0" max="11" class="form-control"
                                   @bind="@AddMatch.GolferTwoPoints" @onfocusout="UpdateGolferOnePoints" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Score</label>
                            <input type="number" class="form-control" @bind="@AddMatch.GolferOneScore" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Play Next Week?</label>
                            <div><input type="checkbox" @bind="@AddMatch.GolferOnePlayNextWeek" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" @onclick="SaveMatch">Save</button>
            <button class="btn btn-danger" @onclick="CancelMatch">Cancel</button>
        </EditForm>
    }
}
else
{
    <div>Loading...</div>
}*@
