@using BeaverLeague.Core.Models;
@inherits WeeklyScoresBase

@if (MatchSet != null)
{
    <div class="container p-2">
        <h3 class="mb-3 text-center">Scores for @(MatchSet.Date.ToLongDateString()) </h3>

        @foreach (var match in MatchSet.Matches)
        {
            <div class="row bg-light">
                <div class="col-6 text-right border-dark border-right">
                    <span class="@ComputeBackground(match, 0)">
                    </span>
                    @match.Players[0].Golfer.FirstName @match.Players[0].Golfer.LastName
                    <span class="p-2">
                        @match.Players[0].Points.ToString("N1")
                    </span>
                </div>
                <div class="col-6 text-left">
                    <span class="p-2">
                        @match.Players[1].Points.ToString("N1")
                    </span>
                    @match.Players[1].Golfer.FirstName @match.Players[1].Golfer.LastName
                    <span class="@ComputeBackground(match, 1)">
                    </span>
                </div>
            </div>
        }
    </div>
}
else
{
    <div>Loading...</div>
}
@if (EditModel == null)
{
    <button class="btn btn-primary mt-3" @onclick="AddNewMatch">Add Match</button>
}

@if (EditModel != null)
{
    <hr />

    <EditForm Model="@EditModel" OnValidSubmit="SaveMatch">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="card">
            <div class="card-header">
                Golfer 1
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <Combobox T="Golfer"
                                  Placeholder="Name"
                                  @bind-Value="@EditModel.GolferA"
                                  Items="@Golfers">
                            <ItemTemplate Context="golfer">
                                <span>@golfer.FirstName @golfer.LastName</span>
                            </ItemTemplate>
                        </Combobox>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Points</label>
                        <input type="number" step="0.5" min="0" max="11" class="form-control"
                               @bind="@EditModel.PointsA" @onfocusout="UpdateGolferBPoints" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Score</label>
                        <input type="number" class="form-control" @bind="@EditModel.ScoreA" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Play Next Week?</label>
                        <div><input type="checkbox" @bind="@EditModel.PlayAgainA" /></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card pt-2">
            <div class="card-header">
                Golfer 2
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <Combobox T="Golfer"
                                  Placeholder="Name"
                                  @bind-Value="@EditModel.GolferB"
                                  Items="@Golfers">
                            <ItemTemplate Context="golfer">
                                <span>@golfer.FirstName @golfer.LastName</span>
                            </ItemTemplate>
                        </Combobox>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Points</label>
                        <input type="number" step="0.5" min="0" max="11" class="form-control"
                               @bind="@EditModel.PointsB" @onfocusout="UpdateGolferAPoints" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Score</label>
                        <input type="number" class="form-control" @bind="@EditModel.ScoreB" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Play Next Week?</label>
                        <div><input type="checkbox" @bind="@EditModel.PlayAgainB" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-2">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" @onclick="CancelMatch">Cancel</button>
        </div>
    </EditForm>
}
