@using BeaverLeague.Core.Models;
@inherits WeeklyScoresBase

@if (initialized)
{
    <h1>Scores: @(matchSet?.Date.ToLongDateString()) </h1>

    @if (addMatch == null)
    {
        <button class="btn btn-primary" @onclick="NewMatch">Add Match</button>
    }

    @if (addMatch != null)
    {
        <form>
            <h3>Add a match</h3>
            <div class="card">
                <div class="card-header">
                    Golfer 1
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <Combobox T="Golfer"
                                      Placeholder="Name"
                                      Items="@Golfers"
                                      ItemFilter="@GolferFilter"
                                      MaxSuggestions="5"
                                      SelectedItemFormat="FormatGolfer">
                                <ItemTemplate Context="golfer">
                                    <span>@golfer.FirstName @golfer.LastName</span>
                                </ItemTemplate>
                            </Combobox>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Points</label>
                            <input type="number" step="0.5" min="0" max="11" class="form-control" @addMatch.GolferOnePoints" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Score</label>
                            <input type="number" class="form-control" @bind="@addMatch.GolferOneScore" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Play Next Week?</label>
                            <div><input type="checkbox" @bind="@addMatch.GolferOnePlayNextWeek" /></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card pt-2">
                <div class="card-header">
                    Golfer 2
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <Combobox T="Golfer"
                                      Placeholder="Name"
                                      Items="@Golfers"
                                      ItemFilter="@GolferFilter"
                                      MaxSuggestions="5"
                                      SelectedItemFormat="FormatGolfer">
                                <ItemTemplate Context="golfer">
                                    <span>@golfer.FirstName @golfer.LastName</span>
                                </ItemTemplate>
                            </Combobox>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Points</label>
                            <input type="number" step="0.5" min="0" max="11" class="form-control" @addMatch.GolferOnePoints" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Score</label>
                            <input type="number" class="form-control" @bind="@addMatch.GolferOneScore" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Play Next Week?</label>
                            <div><input type="checkbox" @bind="@addMatch.GolferOnePlayNextWeek" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" @onclick="SaveMatch">Save</button>
            <button class="btn btn-danger" @onclick="CancelMatch">Cancel</button>
        </form>
    }
}
else
{
    <div>Loading...</div>
}
